<head>
  <%- include partial/head %>
<body>
  <% if(dataEnrolled.length == 0){ %>
        Belum ada siswa yang terdaftar, masukkan subject di halaman data siswa lalu kembali ke halaman ini.
      <% } else { %>
        <h1><%= dataEnrolled[0].Subject.subject_name %></h1>
        <a href="/subjects">Back</a>
    <table border="1"="width:25%">
      <thead>
        <th>No</th>
        <th>Name</th>
        <th>Score by Number</th>
        <th>Score by Letter</th>
      </thead>
      <tbody>
        <% var i=1; dataEnrolled.forEach(data => { %>
          <tr>
            <td><%=i++%></td>
            <td><%= data.Student.getfullName()%></td>
            <td>
              <% if(data.score){%>
                <%= data.score %>
              <% } else { %>
                <a href="/subjects/<%= data.Subject.id %>/<%= data.Student.id %>/give-score">
                  <button type="button" name="button" class="btn btn-primary">Give Score</button>
                </a>
              <%}%>
            </td>
            <td><%=scoreLetter[i-2] %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</body>
</html>
